$black: #424242;
$gray: #7c7c7c;
$green: #20838B;
$mint: #37c7d2;

$mobile: 400px;
$tablet: 768px;
$laptop: 959px;
$desktop: 1500px;
$desktopFull: 1921px;



$top-line-height: 50px;

$left-side-width: 350px;

$columnsMargin: 5px;